body {
    background-color: skyblue;
}

#container {
    width: 500px;
    height: 300px;
    margin-top: 235px;
    border-radius: 15px;
    text-align: center;
}

#title {
    color: #fff;
    font-weight: bold;
}

#sub-container {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-color: #fff;
    border: 3px solid deepskyblue;
}

.list-group {
    padding-top: 20px;
}

.list-group-item {
    border: none !important;
    border-bottom: 3px dotted #eee !important;
}

.input-group {
    width: 98%;
    margin-top: 10px !important;
    margin: 0 auto;
}

.badge {
    cursor: pointer;
}

.form-control {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(74, 74, 204);
    color: #fff;
}

    /* border: 테두리_두께 선_종류 색상; */
    /* 선_종류: 실선 > solid, 점선 > dotted */
    /* border-radius: ; 꼭짓점 구부리기 */
    /* font-weight: ; 폰트 두께 */
    /* margin은 부모의 영역에서 얼마나 떨어질지 */
    /* padding은 자기 자신이 얼마나의 영역을 가질지 */
    /* !important 전부 무시하고 진행 */